*{
    margin:0;
    padding:0;
}
body{
    background-color:blueviolet;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    background-color: white;
    width:30vw;
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.reg{
    text-align: center;
    font-weight: 800;
    font-size: x-large;
}

.b{
    width:30vw;
    height:1.5rem;
    background-color: violet;
    padding: 2px;
    border-radius:5px;
    border:1px solid gray;
}
.c,.n{
    height:1.5rem;
    width:100%;
}
.mo,.h{
     height:1.5rem;
     width:15vw;
}
.g{
    display: flex;
    justify-content: space-between;
}
.r{
    display: flex;
    gap:5px;
}
.no{
    display: flex;
    gap:80px;
}
.ni{
    display:flex;
    flex-direction:column;
    width:50%;
    gap:0.5rem;
}
.nt{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.mi{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.em{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.po{
    display:flex;
    gap:15px;
    
}
.pl{
    width:100%;
}
